<!-- <p>footer works!</p> -->

<div class="footer">
  <section>
    <div class="box-container">
      <div class="box">
        <h3><i class="fas fa-lightbulb"></i>Ken Wide Language Institute</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, commodi.</p>
        <div class="share">
          <a href="#" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-linkedin"></a>
        </div>
      </div>

      <div class="box">
        <h3>quick links</h3>
        <a routerLink="/home" class="link">home</a>
        <a routerLink="/about" class="link">about</a>
        <a routerLink="/course" class="link">course</a>
        <a routerLink="/osd-exams" class="link">ÖSD Exams</a>
        <a routerLink="/contact" class="link">contact</a>
      </div>

      <div class="box">
        <h3>useful links</h3>
        <a href="#" class="link">help center</a>
        <a href="#" class="link">ask questions</a>
        <a href="#" class="link">send feedback</a>
        <a href="#" class="link">privacy policy</a>
        <a href="#" class="link">terms of use</a>
      </div>

      <div class="box">
        <h3>useful links</h3>
        <p>subsribe for latest updates</p>
        <form action="">
          <input type="email" name="" placeholder="enter your email" id="" class="email">
          <input type="submit" value="subcribe" class="btn">
        </form>

      </div>
    </div>

    <div class="credit"> Copyright © 2024 kenwideinstitute.com | Designed by <span>kamsware</span></div>

  </section>

</div>
