<!-- <p>contact works!</p> -->
<app-navbar></app-navbar>

<section class="heading-link">
  <section class="heading-wrapper">
    <h3>contact us</h3>
    <p>
      <a routerLink="/home">home</a>
      <span class="current-route"> / contact us</span>
    </p>
  </section>
</section>

<!-- contact section starts -->

<section class="contact">
  <h1 class="heading">get in touch</h1>

  <div class="icons-container">
    <div class="icons">
      <i class="fas fa-clock"></i>
      <h3>opening hours</h3>
      <p>8:00AM to 6:00PM</p>
    </div>

    <div class="icons">
      <i class="fas fa-phone"></i>
      <h3>phone</h3>
      <p><a href="tel:+254757721693">+254757721693</a></p>
    </div>

    <div class="icons">
      <i class="fas fa-envelope"></i>
      <h3>email</h3>
      <p>
        <a href="mailto: admin@kenwideinstitute.com">
          {{ "admin@kenwideinstitute.com" }}
        </a>
      </p>
      <p>
        <a href="mailto: info@kenwideinstitute.com">
          {{ "info@kenwideinstitute.com" }}
        </a>
      </p>
    </div>

    <div class="icons">
      <i class="fas fa-map"></i>
      <h3>address</h3>
      <p>Muthaiga North crescent, Muthaiga Road, Muthaiga, Nairobi</p>
    </div>
  </div>

  <div class="row">
    <div class="image">
      <img src="assets/images/contact-img.png" alt="" />
    </div>

    <!-- <form action="" (submit)="sendMessage($event)"> -->
    <form
      action="mailto:info@kenwideinstitute.com"
      method="post"
      enctype="text/plain"
    >
      <h3>send us a message</h3>
      <input type="text" placeholder="name" name="name" class="box" />
      <input type="email" placeholder="email" name="email" class="box" />
      <input type="text" placeholder="phone" name="phone" class="box" />
      <textarea
        id=""
        class="box"
        placeholder="message"
        name="message"
        cols="30"
        rows="10"
      ></textarea>
      <input type="submit" value="send message" class="btn" />
    </form>
  </div>
</section>

<!-- contact section ends -->

<!-- faq section starts -->

<section class="faq">
  <h1 class="heading">frequently asked questions</h1>

  <div class="accordion-container">
    <div
      class="accordion"
      *ngFor="let item of faqItems"
      [class.active]="item.active"
      (click)="toggleAccordion(item)"
    >
      <div class="accordion-heading">
        <h3>{{ item.question }}</h3>
        <i class="fas fa-angle-down"></i>
      </div>
      <p class="accordion-content">{{ item.answer }}</p>
    </div>
  </div>
</section>

<!-- faq section starts -->

<!-- logo slider starts -->

<section class="logo-container">
  <div class="swiper logo-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="assets/images/partner-logo-1.png" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="assets/images/partner-logo-2.png" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="assets/images/partner-logo-3.png" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="assets/images/partner-logo-4.png" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="assets/images/partner-logo-5.png" alt="" />
      </div>
    </div>
  </div>
</section>

<!-- logo slider ends -->

<app-footer></app-footer>
