<!-- <p>about works!</p> -->
<app-navbar></app-navbar>


<section class="heading-link">
  <h3>about us</h3>
  <p><a routerLink="/home" >home</a> / about </p>
</section>

<!-- about section starts -->

<section class="about">

  <div class="image">
    <img src="assets/images/home-slide-4.png" alt="">
  </div>

  <div class="content">
    <h3 class="about-title">we have best courses for you</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quasi nobis. Enim, laboriosam placeat! Voluptatum numquam iste culpa rem. Veniam tenetur nemo nam ducimus vero dolore eaque. Mollitia, accusamus hic.</p>
    <div class="icons-container"></div>
    <div class="icons">
      <img src="assets/images/home-slide-12.png" alt="">
      <h3>350+</h3>
      <span>courses</span>
    </div>
    <div class="icons">
      <img src="assets/images/home-slide-13.png" alt="">
      <h3>1200+</h3>
      <span>students</span>
    </div>
    <div class="icons">
      <img src="assets/images/home-slide-10.png" alt="">
      <h3>10+</h3>
      <span>awards</span>
    </div>
  </div>
</section>




<!-- about section ends -->







<app-footer></app-footer>
