<!-- <p>about works!</p> -->
<app-navbar></app-navbar>

<section class="heading-link">
  <section class="heading-wrapper">
  <h3>about us</h3>
  <p><a routerLink="/home">home</a> <span class="current-route"> / about</span></p>
</section>
</section>

<!-- about section starts -->
<section>
<div class="image_and_desc">
  <div class="item_img">
    <img src="assets/images/about-img.png" alt="" height="350px"/>
  </div>
  <div class="item_desc">
  <p style="font-size: 20px;text-align: center;">Our ultimate goal is to bring you German language short courses exams based on the standards provided by ÖSD in Austria</p>
 </div>
</div>
</section>

<!-- <section class="about">
  <div class="content">
    <h3 class="about-title">We have best courses for you</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quasi
      nobis. Enim, laboriosam placeat! Voluptatum numquam iste culpa rem. Veniam
      tenetur nemo nam ducimus vero dolore eaque. Mollitia, accusamus hic.
    </p>
    <div class="icons-container"></div>
    <div class="icons">
      <img src="assets/images/about-icon-1.png" alt="" />
      <h3>350+</h3>
      <span>courses</span>
    </div>
    <div class="icons">
      <img src="assets/images/about-icon-2.png" alt="" />
      <h3>1200+</h3>
      <span>students</span>
    </div>
    <div class="icons">
      <img src="assets/images/about-icon-3.png" alt="" />
      <h3>10+</h3>
      <span>awards</span>
    </div>
  </div>
</section> -->
<!-- about section ends -->
<!-- teachers section starts -->

<section >
  <h1 class="heading">Our objectives</h1>
  <div class="objectives" >
    <!-- <mat-icon>nearby</mat-icon> -->
    <p>Coordination and Oversight: We meticulously coordinate and oversee exam procedures as specified by ÖSD, 
      ensuring every detail meets the highest standards.</p>
    <p>Ensuring Excellence: We take full responsibility for the proper execution of examinations, including the supervision of examiners and supervisors.
       Quality is our top priority</p>
    <p>Administrative Excellence: Behind the scenes, we manage administrative tasks with precision, maintaining master data and seamlessly 
      administering ÖSD based exams.</p>
  </div>

  <!-- <h1 class="heading">expert teachers</h1>
  <div class="swiper teachers-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide" *ngFor="let teacher of teachers">
        <div class="image">
          <img [src]="teacher.image" alt="" />
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <h2 style="color: white;">{{teacher.name}}</h2>
          </div>
        </div>
        <div class="content">
          <h3>{{ teacher.name }}</h3>
          <span>{{ teacher.title }}</span>
        </div>
      </div>
    </div>
  </div> -->
</section>

<!-- teachers section ends -->
<!-- students reviews section starts -->

<!-- <section class="reviews">
  <h1 class="heading">Our students review</h1>
  <div class="swiper reviews-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide" *ngFor="let review of reviews">
        <p>{{ review.text }}</p>
        <img [src]="review.image" alt="" />
        <h3>{{ review.name }}</h3>
        <div class="stars">
          <i class="fas fa-star" *ngFor="let star of review.stars; let i = index"></i>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- students review section ends -->

<app-footer></app-footer>
